/* Pomodoro Timer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #E8F5E9;
  }

  .container-timer {
    background-color: #F9F9F9;
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 30%;
    padding: 2em 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  h1{
    color: #4CAF50;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .btn {
    padding: 1em 2em;
    border-radius: 1em;
    background-color: #FF6F61;
    color: #ffffff;
    font-weight: bold;
  }

  .btn-focus {
    background-color: #03A9F4;
    color: #ffffff;
  }

  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .timer {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color: #4CAF50;
  }
  
  .timer .minutes,
  .timer .seconds {
    display: inline-bock;
    width: 60px;
    text-align: right;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  #btn-start,
  #btn-pause {
    margin-top: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: #FFC107;
    font-size: 2em;
  }

  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFC107;
    font-size: 2em;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

/* To-do-list */