:root{
  --primary: #ffffff;
  --secondary: #101458;
  --accent1: #45239a;
  --accent2: #eb3f63;
  --text: #f7eed8;
  --icon: #13b070;
}

/* Pomodoro Timer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }

  .container-timer {
    background-color: var(--secondary);
    width: 70%;
    padding: 2em 1em;
    margin: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  h1{
    color: var(--text);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .btn {
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--accent2);
    color: var(--text);
    font-weight: bold;
  }

  .btn-focus {
    background-color: var(--accent1);
    color: var(--text);
  }

  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .timer {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color: var(--text);
  }
  
  .timer .minutes,
  .timer .seconds {
    display: inline-bock;
    width: 60px;
    text-align: right;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  #btn-start,
  #btn-pause {
    margin-top: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--icon);
    font-size: 2em;
  }

  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--icon);
    font-size: 2em;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

/* To-do-list */

.container-tdl{
  background-color: var(--secondary);
  width: 40%;
  padding: 2em 1em;
  margin: 2rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}