:root{
  --primary: #ffffff;
  --secondary: #101458;
  --accent1: #45239a;
  --accent2: #eb3f63;
  --text: #f7eed8;
  --icon: #13b070;
}

/* Pomodoro Timer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }

  .container-timer {
    background-color: var(--secondary);
    width: 70%;
    padding: 2em 1em;
    margin: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  h1{
    color: var(--text);
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .btn {
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--accent2);
    color: var(--text);
    font-weight: bold;
  }

  .btn-focus {
    background-color: var(--accent1);
    color: var(--text);
  }

  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .timer {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color: var(--text);
  }
  
  .timer .minutes,
  .timer .seconds {
    display: inline-bock;
    width: 60px;
    text-align: right;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  #btn-start,
  #btn-pause {
    margin-top: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--icon);
    font-size: 2em;
  }

  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--icon);
    font-size: 2em;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

/* To-do-list */

.container-tdl{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary);
  width: 50%;
  padding: 2em 1em;
  margin: 1rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#todo-input{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border: 2px, solid var(--accent1);
  border-radius: 10000px;
  font: inherit;
  color: var(--text);
  caret-color: var(--accent1);
}

#todo-input:focus{
  outline: none;
}

form{
  position: relative;
}

#add-btn{
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--icon);
  height: 100%;
  padding: 0 20px;
  border: none;
  font: inherit;
  font-weight: 700;
  color: var(--text);
  cursor: pointer;
  border-radius: 10000px;
}

.todo{
  width: 100%;
  margin-bottom: 10px;
  padding: 0 30px;
  background-color: var(--accent1);
  color: var(--text);
  border-radius: 15px;
  display: flex;
  align-items: center;
  ;
}

.todo .todo-txt{
  padding: 10px;
  padding-right: 0;
}